@import models.products._
@import models.users._

 @(productList: List[Product], categoryList: List[Category], user: User)

 @main("Products" ,user) {
      <!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->
      <div class="row">
        <div class="col-sm-4">
          <h4>Categories</h4>
          <!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->
          <div class="list-group text-right">
            <a href="@routes.HomeController.products(0)" class="list-group-item  list-group-item-action">All Categories
              <span class="badgeImage badge-secondary">@productList.size()</span>
            </a>

            @* Start of loop - for each category in the categoryList *@
            @* Also display the number of products in each category *@
            
            @for(category <- categoryList) {
              <a href="@routes.HomeController.products(category.getId)" class="list-group-item  list-group-item-action">@category.getName
                <span class="badge badge-secondary">@category.getProducts.size()</span>
              </a>
            } @* End category loop *@

          </div>

        </div>
          </div>
        <div class="row">
          <div class="col-sm-8">

            @* Display flash message - after adding a product *@
            @if(flash.containsKey("success")) {
              <div class="alert alert-success">
                  @flash.get("success")
              </div>
            } 

          <!-- https://getbootstrap.com/docs/4.0/content/tables/ -->

          <table class="table table-hover">
            <thead>
              <th style="width: 20%">ID</th>
              <th style="width: 20%">Name</th>
              <th style="width: 20%">Category</th>
              <th style="width: 20%">Description</th>
              <th style="width: 10%">Stock</th>
              <th style="width: 10%">Price</th>
            </thead>
            <tbody>
            @* Iterate through products, adding a new row for each in the list *@
            @* for each product in the products list *@
            @for(product <- productList) {
              <tr scope="row">
                <td>@product.getId</td>
                <td>@product.getName</td>
                @* Get category for this product then getName *@
                <td>@product.getCategory.getName</td>
                <td>@product.getDescription</td>
                <td>@product.getStock</td>
                <td class="text-right">&euro;@("%.2f".format(product.getPrice))</td>
              </tr>
            } @* End for loop*@
            </tbody>
            <tfoot>
              <tr scope="row">
                
              </tr>
            </tfoot>
          </table>
      
 }
